* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto, sans-serif; }

body {
  background-color: #e6e6e6; }

.mdl-layout__header {
  background-color: black; }

.logo {
  height: 55px;
  width: 55px; }

dialog {
  top: 15px; }

#dialog, #detail {
  width: 50%; }

dialog::-webkit-backdrop {
  background: rgba(0, 0, 0, 0.7); }

dialog::backdrop {
  background: rgba(0, 0, 0, 0.7); }

.mdl-dialog__title {
  text-align: center; }

.submit {
  background-color: #6ed46e; }

.close {
  background-color: #f63737; }

.dialog-buttongroup {
  margin: 0 auto; }

.header-right {
  margin: auto 10px; }
  .header-right.ng-enter {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 0; }
  .header-right.ng-enter-active {
    opacity: 1; }
  .header-right.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 1; }
  .header-right.ng-leave-active {
    opacity: 0; }

.header-button_red {
  background-color: red; }

.mdl-dialog__actions {
  margin-top: 10px;
  padding: 5px 0;
  width: 100%;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.icon {
  width: 2.18em !important; }

.social_desk {
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.social_logo {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover; }

.social_logo_git {
  background-image: url("../images/github.png"); }

.social_logo_google {
  background-image: url("../images/google.png"); }

.social_logo_twitter {
  background-image: url("../images/twitter.png"); }

.cardswrap {
  margin-top: 50px; }

.addfield {
  width: 100%;
  height: 60px;
  background-color: rgba(63, 81, 181, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .addfield.ng-enter {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 0; }
  .addfield.ng-enter-active {
    opacity: 1; }
  .addfield.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 1; }
  .addfield.ng-leave-active {
    opacity: 0; }
  .addfield a {
    margin: auto;
    color: whitesmoke;
    text-decoration: none; }

.preloader {
  margin: 35vh auto; }

.proloader__message {
  text-align: center;
  font-size: 24px;
  margin-top: -30px; }

.devider.ng-enter {
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
  opacity: 0; }

.devider.ng-enter-active {
  opacity: 1; }

.cardblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-bottom: 30px; }
  .cardblock.ng-enter {
    -webkit-transition: .5s linear all;
    transition: .5s linear all;
    opacity: 0; }
  .cardblock.ng-enter-active {
    opacity: 1; }

.cardblock__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.cardblock__actions__elem {
  margin-left: auto; }

.cardblock__actions__delete {
  margin-top: 6px;
  cursor: pointer; }

.material-icons_color {
  color: #e6e6e6; }

.cardtitle {
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right; }
  .cardtitle h2 {
    color: white; }

.details {
  margin: 0 auto; }

.details__image {
  width: 100%;
  height: 700px;
  margin: 0 auto; }

.details__content {
  padding: 25px; }

.details__author {
  margin-left: auto;
  margin-right: 5px; }

.details__comment-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 15px 0;
  padding: 15px 15px 0; }

.details__comment-input {
  width: 100%;
  margin: 20px 20px 5px;
  font-size: 18px;
  padding: 5px;
  outline: none;
  border: 1px solid black;
  overflow: hidden;
  min-height: 20px; }

.details__send {
  margin-left: auto;
  margin-right: 50px;
  margin-bottom: 20px;
  height: 40px;
  width: 15%; }

#details__line {
  width: 100%;
  height: 5px;
  background-color: black; }

.comment {
  position: relative;
  width: 100%;
  margin: 20px 20px 5px;
  padding: 8px;
  border-bottom: 1px solid black; }

.comment__author {
  position: relative;
  top: -35px; }

.comment__content {
  position: relative;
  top: -50px;
  margin-bottom: -55px;
  left: -1px; }

.devider {
  margin: 0 auto;
  height: 200px;
  background-image: url(../images/devider.jpg);
  background-size: cover;
  background-position: center center; }

.addchanel {
  width: 165px; }

.stream {
  padding: 0 25px; }

.stream__controll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #31698a;
  padding: 2px; }

.stream__delete {
  margin-left: auto;
  margin-right: 5px;
  color: white;
  border: 2px solid white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer; }

.stream__frame {
  height: -webkit-calc(100vw * 0.26);
  height: calc(100vw * 0.26); }

.chat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #cecece;
  border: 3px solid black;
  color: black;
  height: 525px;
  width: 250px;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 17px;
  z-index: 9999; }

.chat__button {
  position: absolute;
  bottom: 5px;
  right: 20px;
  z-index: 100; }

.chat__input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  height: 50px;
  width: 100%; }
  .chat__input textarea {
    border: none;
    outline: none;
    padding: 5px;
    width: 190px;
    height: 100%; }

.chat__send {
  height: 100%;
  width: 60px; }

.chat__header {
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: purple;
  padding: 1px 5px;
  background-image: -webkit-linear-gradient(330deg, #cecece, #fbfbfb);
  background-image: linear-gradient(120deg, #cecece, #fbfbfb); }

.chat__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin-left: -17px;
  right: -17px;
  overflow-y: scroll;
  position: relative; }

.chat__message {
  word-wrap: break-word;
  border-bottom: 1px solid #a1a1a1;
  margin: 6px 2px;
  padding: 5px;
  overflow: none; }
  .chat__message.ng-enter {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%); }
  .chat__message.ng-enter-active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  .chat__message p {
    margin: auto 0; }
    .chat__message p i {
      display: inline-block; }

.chat__message_all {
  color: black; }

.chat__message_mine {
  color: #ff4081; }

.chat__header__hide {
  margin: auto 0;
  margin-left: auto;
  cursor: pointer;
  color: #ff4081; }

.button_row {
  -webkit-box-pack: start !important;
  -webkit-justify-content: flex-start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important; }

.createpost {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: white; }

.createpost__buttongrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0; }

.createpost__contentinput {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.createpost__prevtext {
  min-height: 310px;
  margin-top: 15px;
  width: 90%;
  border: 1px solid #cccccc; }

.trix-editorwrap {
  width: 70%;
  margin-right: 20px; }

.trix-content {
  min-height: 300px; }

.createpost__button {
  text-align: center;
  margin: 0 10px; }

@media only screen and (max-width: 840px) {
  .stream__frame {
    height: -webkit-calc(100vw * 0.49);
    height: calc(100vw * 0.49); } }
