<div class="welcome">
    <div class="welcome__image">
        
    </div>
    <p class="welcome__content">
        Watch. Communicate. Share.
    </p>
    <!--<img class="welcome__img" src="../images/Log6C34.png" alt="">-->
    
    <div class="welcome__actions">
        <a ui-sref="main.playlist"><i class="material-icons" id="playlist">view_module</i></a>
        <div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="playlist">
            Playlist
        </div>
        <a ui-sref="main.blog"><i class="material-icons" id="blog">video_label</i></a>
        <div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="blog">
            Blog
        </div>
    </div>
</div>