<div class="welcome">
    <img class="welcome__img" src="../images/logo.png" alt="">
    <p class="welcome__content">
        Watch. Communicate. Share.
    </p>    
    <div class="welcome__actions">
        <a ui-sref="main.blog"><i class="material-icons" id="blog">view_module</i></a>
        <div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="blog">
            Blog
        </div>
        <a ui-sref="main.playlist"><i class="material-icons" id="playlist">video_label</i></a>
        <div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="playlist">
            Playlist
        </div>
    </div>
</div>