
<div class="addfield" ng-if="$ctrl.user">
    <a ui-sref="main.createpost">Create New Post</a>
</div>
<div class="mdl-grid cardswrap">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone cardblock" ng-repeat="post in $ctrl.posts | reverse | limitTo : 4">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp cardblock__item">
            <div class="mdl-card__title cardtitle" ng-style="{'background-image':'url({{post.image}})'}">
                <h2 class="mdl-card__title-text">{{post.title}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
               {{post.prevtext}}
            </div>
            <div class="mdl-card__actions mdl-card--border cardblock__actions">
                <i class="material-icons cardblock__actions__delete" ng-if="post.authorUid == $ctrl.user.uid" ng-click="$ctrl.deletePost(post.$id)">delete_forever</i>
                <a ui-sref='main.postdetails({postId : post.$id })' class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cardblock__actions__elem">
                View Details
                </a>
            </div>
        </div>
    </div>
</div>
<div class="mdl-grid mdl-cell--12-col devider" ng-if="$ctrl.devider"></div>
<div class="mdl-grid cardswrap">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone cardblock"  ng-repeat="post in $ctrl.posts | reverse | limitTo : $ctrl.count">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp cardblock__item">
            <div class="mdl-card__title cardtitle" ng-style="{'background-image':'url({{post.image}})'}">
                <h2 class="mdl-card__title-text">{{post.title}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
               {{post.prevtext}}
            </div>
            <div class="mdl-card__actions mdl-card--border cardblock__actions">
                <i class="material-icons cardblock__actions__delete" ng-if="post.authorUid == $ctrl.user.uid" ng-click="$ctrl.deletePost(post)">delete_forever</i>
                <a ui-sref='main.postdetails({postId : post.$id })' class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cardblock__actions__elem">
                View Details
                </a>
            </div>
        </div>
    </div>
</div>