
  <dialog id='detail' class="mdl-dialog">
    <div class="mdl-dialog__title">
        {{$ctrl.details.title}}
    </div>
    <img class='details__image' ng-src="{{$ctrl.details.image}}">
    <div class="mdl-dialog__content" ng-style="{'background-image':'url({{$ctrl.details.image}})'}">
      <p>
        {{$ctrl.details.text}}
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button">Agree</button>
      <button type="button" class="mdl-button close" ng-click="$ctrl.closeDialog()">Disagree</button>
    </div>
  </dialog>