<div class="mdl-grid">
    <div class="mdl-grid mdl-cell mdl-cell--12-col addplayer">
        <form class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet" ng-submit="$ctrl.addPlayerHandler()">
            <div class="mdl-textfield mdl-js-textfield addchanel">
                <input class="mdl-textfield__input" ng-disabled="$ctrl.disabled" ng-model="$ctrl.addplayer.site" type="text" id="sample1" required placeholder="Enter Channels Name">
            </div>
            <label class="mdl-radio mdl-js-radio" for="option1">
                <input type="radio" ng-disabled="$ctrl.disabled" ng-model="$ctrl.addplayer.service" id="option1" value="twitch" name="player" class="mdl-radio__button" checked required>
                <span class="mdl-radio__label">Twitch</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option2">
                <input type="radio" ng-disabled="$ctrl.disabled" ng-model="$ctrl.addplayer.service" id="option2" value="cybergame" name="player" class="mdl-radio__button" required>
                <span class="mdl-radio__label">CyberGame</span>
            </label>
            <button type="submit" ng-disabled="$ctrl.disabled" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary">
                <i class="material-icons">add</i>
            </button>
        </form>
    </div>
        <div class="stream mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet" ng-repeat="stream in $ctrl.playlist">
            <div class="stream__controll">
                <i class="stream__delete material-icons" ng-click="$ctrl.deletePlayerHandler(stream.$id)">clear</i>
            </div>
            <iframe class="stream__frame" ng-src="{{stream.path | trusted}}" frameborder="0" autoplay="false" allowfullscreen="true" scrolling="no"></iframe>
        </div>
</div>

