<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header is-casting-shadow">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                    <img class="logo" src="../images/G2.png">
                    <span class="logo-text">.geekWatch</span>
                </span>
                <div class="mdl-layout-spacer"></div>
                <h6 class="header-right">{{$ctrl.user.email}}</h6>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored header-right" ng-cloak ng-if="!$ctrl.user" ng-click="$ctrl.showdialog()">
                    Sign In
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent header-right" ng-cloak ng-if="$ctrl.user" ng-click="$ctrl.logout()">
                    Sign Out
                </button>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">
                   .geekWatch
            </span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" ui-sref-active='mdl-navigation__link--current' ui-sref='main.welcome'>Welcome</a>
                <a class="mdl-navigation__link" ui-sref-active='mdl-navigation__link--current' ui-sref='main.blog' >Blog</a>
                <a class="mdl-navigation__link" ui-sref-active='mdl-navigation__link--current' ui-sref='main.playlist'>Playlist</a>
            </nav>
        </div>
        <main class='mdl-layout__content'>
            <div class="page-content">
                <ui-view></ui-view>
            </div>
        </main>
    </div>

    <auth-dialog></auth-dialog>

    <chat ng-if='$ctrl.chatState'></chat>

    <button ng-click="$ctrl.openChat()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent chat__button">
        chat
    </button>
    
