
@media only screen and (max-width: 839px)
    .stream__frame
        height: calc(100vw * 0.52) !important

    .details__image
        height: calc(100vw * 0.7)

    #dialog
        width: 90%    

    .logo-text
        display: none

    .icon
        width: 6vw !important         

    .welcome
        height: calc(100vh - 64px) 

    .welcome__img
        margin-top: 180px
        width: 80vw
        height: calc(80vw * 0.2) 

    .welcome__content
        font-size: 20px

    .cardswrap
        margin-top: 0    

    .details__comment-wrap
        margin: 0
        padding: 0

    .details__send
        margin-right: 20px    

    #details__line
        margin-bottom: 20px    
        
    .devider
        display: none

@media only screen and (max-width: 360px)
    h6.header-right
        display: none       
        
    .createpost
        width: 90%
        margin: 10px auto    
        padding: 10px

    .welcome__img
        margin-top: 150px
        width: 80vw
        height: calc(80vw * 0.4)

    .welcome__actions
        i
            margin: 40px 30px 0    

    .createpost__contentinput
        flex-wrap: wrap     

    .trix-editorwrap
        width: 100%
        margin-right: 0

    .createpost__prevtext-wrap
        width: 100%
        margin-right: 2px   

    .createpost__prevtext
        margin-top: 0
        width: 100%
        min-height: 150px
