<div class='chat'>
    <div class="chat__header">
        <i class="chat__header__hide material-icons" ng-click="$ctrl.closeChat()">keyboard_arrow_down</i>
    </div>
    <div class="chat__body" scroll-glue>
        <div class="chat__message" ng-repeat="message in $ctrl.messages">
            <span class="chat__message_all" ng-class='{ "chat__message_mine" : message.authorUid == $ctrl.user.uid }'>{{message.author}}</span>
            <p class="mdl-typography--text-left" ng-bind-html="message.text | twitchy">{{message.text}}</p>
        </div>
    </div>  
    <div class="chat__input">
        <textarea rows='4' enter-dir="$ctrl.sendMessage()" ng-model="$ctrl.mess.text"></textarea>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored chat__send" ng-click="$ctrl.sendMessage()">
            Send
        </button>
    </div>
</div>