<div class="mdl-grid post-max-width">
    <div class="mdl-cell mdl-cell--2-offset mdl-cell--8-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text mdl-typography--text-center">
                {{$ctrl.data.title}}
            </h1>
        </div>
        <img class="details__image" ng-src="{{$ctrl.data.image}}" alt="">
        <div class="details__content" ng-bind-html="$ctrl.data.content">
            
        </div>
        <small class="details__author">{{$ctrl.data.author}}</small>
        <div id="details__line"></div>
        <div class="details__comment-wrap" ng-repeat="comment in $ctrl.comments">
            <div class="comment">
                <p class="comment__author">{{comment.author}}</p>
                <p class="comment__content">{{comment.text}}</p>
            </div>
        </div>
        <div class="details__comment-wrap">
            <textarea extextarea enter-dir="$ctrl.addComment()" id="comment-input" class="details__comment-input" ng-model="$ctrl.message" ng-disabled="!$ctrl.user"></textarea>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored details__send" ng-disabled="!$ctrl.user" ng-click="$ctrl.addComment()">
            Send
        </button>
        <div class="mdl-card__menu">
            <a ui-sref='main.blog'><i class="material-icons">navigate_before</i></a>
        </div>
    </div>
</div>