<div class="mdl-grid post-max-width">
    <div class="mdl-cell mdl-cell--2-offset mdl-cell--8-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text mdl-typography--text-center">
                {{$ctrl.data.title}}
            </h1>
        </div>
        <img class="details__image" ng-src="{{$ctrl.data.image}}" alt="">
        <div class="mdl-card__supporting-text">
            {{$ctrl.data.text}}
        </div>
        <div class="mdl-card__menu">
            <a ui-sref='main.blog'><i class="material-icons">share</i></a>
        </div>
    </div>
</div>